body{
    margin: 0;
}
.logo{
    font-size: 3vw;
    display: inline;
    cursor: pointer;
    color: black;
    text-decoration: none;

}
.logo:hover{
    text-decoration: none;
}
.menu{
    width: 20vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-font{
    font-size: 1.5vw ;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    
}

.menu-font:hover{
    text-decoration: underline;
}

.judul-homepage{
    text-align: center;
    margin-top:6vw;
    height: 30vw;
}

.tulisan-homepage{
    font-family: 'Courier New', Courier, monospace;
    padding: 1vw 22vw;
    margin-bottom: 4vw;
    
}

.button-homepage{
    text-decoration: none;
    border: 0.5px solid salmon ;
     color: black; 
     padding: 1vw 2.5vw;
     border-radius: 5px;
     background-color: salmon;
}
.button-homepage:hover{
    text-decoration: none;
}
.footer{
    background-color: #7d84b2;
    height: 20vw;
    padding: 2vw 10vw;
}

.footer-text{
    
    color: white;
}
.footer-h1{
    color: white;
}
.container-footer{
    width:25vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-bagian-kanan{
    display: flex;
    justify-content: end;
    align-items: start
}